body {
    background-color: #370617;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    align-items: center;
}

.card {
    background: #F48C06;
    width: 468px;
    height: 160px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.box {
    background: #9D0208;
    min-width: 60px;
    min-height: 60px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-1 {
    justify-content: flex-start;
    align-items: center;

}

.card-2 {
    display: flex;
    height: 160px;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    

}

.card-3 {
    justify-content: flex-end;
}

.card-4 {
    justify-content: space-evenly;
}

.card-5 {
    justify-content: center;
}

.card-6 {
    display: flex;
    justify-content: center;
}

 .box-12 {
    display: flex;
    align-self: flex-end;
}

.box-13, .box-15 {
   display: flex;
    height: 160px;
    gap: 20px;
    align-items: stretch;
}

.box-17 {
    display: flex;
    flex-grow: 0.5;
}


